.top-row{
  background-color: #f9f9f9;
}
.navbar{
  background: #f9f9f9;
  width: auto;
  height: 100%;
}
.container{

}

li a {
  font-size: 12px;
}
.left-top{
 background-color: #f5fffa;
}
.right-top{
  background: #f5faff;
}
.red-bottom{
  background: #FFF5FA;
}
.purple-bottom{
  background:#FAF5FF;
}
